.container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  gap: 10px;
  border-radius: 20px;
  background: #F0EDED;
  padding: 20px;
}

.form_container .block {
  grid-column: 1 / 3;
}

.form_container button,
.form_container input {
  margin-top: 10px;
  width: 90%;
  padding: .7em;
  border: none;
  border-radius: 20px;
}

.form_container button {
  background: green;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  width: 100%;
  color: white;
  margin-top: 10px;
}

.form_container button:hover {
  background: rgba(0, 118, 0, 0.706);
  border: 0;
  box-shadow: 1px 2px rgb(27, 177, 27);
}

