<div class="container">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="form_container">
    <div>
      <input type="text" id="asin" formControlName="asin" placeholder="ASIN">
    </div>
    <div>
      <input type="text" id="sku" formControlName="sku" placeholder="SKU">
    </div>
    <div>
      <input type="text" id="nombre" formControlName="nombre" placeholder="Nombre">
    </div>
    <div>
      <input type="text" id="manual_usuario" formControlName="manual_usuario" placeholder="Manual de usuario">
    </div>
    <div>
      <input type="number" id="precio" formControlName="precio" placeholder="Precio">
    </div>
    <div>
      <input type="number" id="cantidad_disponible" formControlName="cantidad_disponible" placeholder="Cantidad disponible">
    </div>
    <div>
      <input type="text" id="imagen" formControlName="imagen" placeholder="Imagen">
    </div>
    <div>
      <input type="text" id="descripcion" formControlName="descripcion" placeholder="Descripción">
    </div>
    <div class="block">
      <button 
        [disabled]="productForm.invalid" 
        type="submit">Crear</button>
    </div>
  </form>
</div>