header {
  background-color: yellow;
  padding: 15px;
  margin-bottom: 20px;
}
header h3 {
  font-size: 20px;
} 

.title{
  width: 80%;
  margin-left: 10%;
  color: black;
  font-size: 30px;
}

hr {
  border: 1px solid gray;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 500px;
}
